// 引入 normalize
@import 'normalize.scss';
// 引入 swiper的 scss
@import '../lib/swiper/swiper.min.scss';
// 引入 base
@import 'base.scss';
// 为了 一会 使用的时候 有提示 写在 index页面中
//  计算尺寸函数
@function p2r($size) {
    @return ($size/32)*1rem;
}

//  设置图片居中
// background center
@mixin bgc ($url, $width) {
    background: url($url) no-repeat center /100% 100%;
    position: absolute;
    left: 50%; // 这里 使用margin-left来实现 左右居中目的是 为了 后面动画中 我们要使用 transform来改变元素 
    margin-left: p2r(-$width/2);
}

// 直接设置背景图 不考虑居中 
@mixin bg($url) {
    background: url($url) no-repeat center /100% 100%;
    position: absolute;
}

//  设置 尺寸 
@mixin size($width, $height) {
    width: p2r($width);
    height: p2r($height);
}

html,
body {
    height: 100%;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #ffece9;
    position: absolute;
    top: 0;
    z-index: 3;
    .rider {
        width: p2r(154);
        height: p2r(121);
        background: url('../images/loading/rider1_.png')no-repeat center/100% 100%;
        position: absolute;
        top: p2r(233);
        right: p2r(108);
    }
    .progress {
        @include size(416,
        20); // background-color: #fc2e4d;
        border: 2px solid #373838;
        border-radius: 20px;
        position: absolute;
        left: 50%;
        margin: p2r(-416)/2;
        top: 50%;
        overflow: hidden;
    }
    .info {
        @include bgc('../images/loading/loading-txt.png',
        220);
        @include size(220,
        28);
        top: p2r(414);
    }
    .logo {
        @include bgc('../images/loading/waimai-logo.png',
        162);
        @include size(162,
        39);
        bottom: 20%;
        margin-bottom: p2r(24);
    }
    .copyright {
        font-size: p2r(26);
        color: hotpink;
        text-align: center;
        line-height: p2r(1816);
    }
}

.welcome {
    width: 100%;
    height: 100%;
    background: deepskyblue;
    position: absolute;
    top: 0;
    z-index: 2;
    .info {
        @include bgc('../images/page1/theme-title.png',
        397);
        @include size(397,
        224);
        top: p2r(42);
        .hello {
            @include bg('../images/page1/hello.png');
            @include size(75,
            70);
            top: p2r(20);
            right: p2r(8);
        }
    }
    .cloud {
        @include bgc('../images/page1/clouds.png',
        640);
        @include size(640,
        673);
        bottom: 0;
    }
    .bear-box {
        
        .bear{
        @include bgc('../images/page1/rider2.png',
        167);
        @include size(167,
        279);
        bottom: p2r(346);
        z-index: 1;
        }
    }
    .smoke {
        @include bgc('../images/page1/jet1.png',
        167);
        @include size(167,
        32);
        bottom: p2r(346);
        z-index: 1;
    }
    .trees {
        @include bgc('../images/page1/trees.png',
        599);
        @include size(599,
        71);
        bottom: p2r(352);
    }
    .grass1 {
        @include bgc('../images/page1/grass1.png',
        640);
        @include size(640,
        396);
        bottom: 0;
    }
    .rotate-btn-box {
           @include size(208,
            208);
         position:absolute;
         left:50%;
         margin-left:p2r(-208/2);
         bottom: p2r(19);

        .rotate-btn {
            @include bgc('../images/page1/circle1.png',
            208);
            @include size(208,
            208);
            bottom: p2r(86);
            .btn {
                @include bgc('../images/page1/bear-btn-pre.png',
                110);
                @include size(110,
                100);
                top: 50%;
                margin-top: p2r(-115/2);
            }
            .btnred {
                @include bg('../images/page1/circle2.png');
                @include size(208,
                208);
                left: 0;
            }
        }
    }
    .grass2 {
        @include bg('../images/page1/grass2.png');
        @include size(640,
        228);
        bottom: 0;
    }
}

.waimai-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    position: absolute;
    left: p2r(32);
    top: p2r(32);
    padding-left: p2r(20);
    h3 {
        color: white;
        font-size: p2r(60);
        margin-bottom: p2r(12);
    }
    p {
        color: white;
        font-size: p2r(24);
    }
    .line {
        height: 100%;
        width: p2r(5);
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: p2r(20);
    }
}

.page1 {
    background-color: #BE8651;
    .scroll-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page2/bg1.png',
            576);
            @include size(576,
            573);
            bottom: p2r(252);
        }
        .desk {
            @include bgc('../images/page2/front1.png',
            439);
            @include size(439,
            349);
            bottom: p2r(290);
            z-index: 1;
            .papers {
                @include bg('../images/page2/papers.png');
                @include size(115,
                114);
                bottom: p2r(104);
            }
        }
        .ball {
            @include bgc('../images/page2/sphere1.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bg('../images/page2/bear1.png');
            @include size(178,
            134);
            bottom: 0;
            right: p2r(38);
        }
        .speak {
            @include bg('../images/page2/txt-bubbl.png');
            @include size(363,
            119);
            bottom: p2r(140);
            left: p2r(140);
            display: flex;
            align-items: center;
            .article {
                @include bgc('../images/page2/txt-work.png',
                220);
                @include size(220,
                30);
            }
        }
    }
    .scroll-page2 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page2/bg2.png',
            582);
            @include size(582,
            520);
            bottom: p2r(252);
        }
        .desk {
            @include bgc('../images/page2/relax.png',
            436);
            @include size(436,
            332);
            bottom: p2r(270);
            .leg1 {
                @include bg('../images/page2/leg1.png');
                @include size(113,
                24);
                left: p2r(195);
                bottom: p2r(110);
            }
            .leg2 {
                @include bg('../images/page2/leg2.png');
                @include size(85,
                71);
                left: p2r(193);
                bottom: p2r(120);
            }
        }
        .ball {
            @include bgc('../images/page2/sphere1.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bg('../images/page2/bear1.png');
            @include size(178,
            134);
            bottom: 0;
            right: p2r(38);
        }
        .speak {
            @include bg('../images/page2/txt-bubbl.png');
            @include size(363,
            119);
            bottom: p2r(140);
            left: p2r(140);
            display: flex;
            align-items: center;
            .article {
                @include bgc('../images/page2/txt-life.png',
                224);
                @include size(224,
                31);
            }
        }
    }
    .scroll-page3 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page2/bg3.png',
            561);
            @include size(561,
            516);
            bottom: p2r(270);
        }
        .person {
            @include bgc('../images/page2/person.png',
            503);
            @include size(503,
            229);
            bottom: p2r(300);
            z-index: 1;
            .word1 {
                @include bg('../images/page2/word1.png');
                @include size(92,
                83);
                bottom: p2r(194);
            }
            .word2 {
                @include bg('../images/page2/word2.png');
                @include size(77,
                70);
                bottom: p2r(245);
                left: p2r(130);
            }
            .word3 {
                @include bg('../images/page2/word3.png');
                @include size(115,
                104);
                bottom: p2r(220);
                right: p2r(130);
            }
            .word4 {
                @include bg('../images/page2/word4.png');
                @include size(79,
                73);
                bottom: p2r(230);
                right: p2r(12);
            }
        }
        .ball {
            @include bgc('../images/page2/sphere1.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bg('../images/page2/bear1.png');
            @include size(178,
            134);
            bottom: 0;
            right: p2r(38);
        }
        .speak {
            @include bg('../images/page2/txt-bubbl.png');
            @include size(363,
            119);
            bottom: p2r(140);
            left: p2r(140);
            display: flex;
            align-items: center;
            .article {
                @include bgc('../images/page2/txt-life.png',
                224);
                @include size(224,
                31);
            }
        }
    }
}

.page2 {
    background-color: #EE4143;
    .pink-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page3/bg4_.png',
            592);
            @include size(592,
            490);
            bottom: p2r(330);
        }
        .ball {
            @include bgc('../images/page3/sphere2.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .desk {
            @include bgc('../images/page3/table.png',
            514);
            @include size(514,
            258);
            bottom: p2r(140);
            z-index: 1;
        }
        .foods {
            @include bgc('../images/page3/foods.png',
            354);
            @include size(354,
            152);
            bottom: p2r(330);
            z-index: 1;
        }
        .bear {
            @include bg('../images/page3/bear2.png');
            @include size(368,
            427);
            left: p2r(100);
            bottom: p2r(310);
            .hand-left {
                @include bg('../images/page3/hand-left_.png');
                @include size(74,
                77);
                left: p2r(142);
                top: p2r(276);
            }
            .hand-right {
                @include bg('../images/page3/hand-right.png');
                @include size(74,
                77);
                right: p2r(78);
                top: p2r(276);
            }
        }
    }
}

.page3 {
    background-color: #DD8A03;
    .yellow-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page4/bg5.png',
            592);
            @include size(592,
            580);
            bottom: p2r(300);
        }
        .ball {
            @include bgc('../images/page4/sphere3.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bgc('../images/page4/bear3.png',
            206);
            @include size(206,
            321);
            bottom: p2r(195);
        }
        .license {
            @include bg('../images/page4/license.png');
            @include size(197,
            140);
            left: p2r(40);
            bottom: p2r(500);
        }
        .oil1 {
            @include bg('../images/page4/oil.png');
            @include size(205,
            107);
            left: p2r(225);
            bottom: p2r(660);
        }
        .evil2 {
            @include bg('../images/page4/evil2.png');
            @include size(198,
            163);
            right: p2r(30);
            bottom: p2r(480);
        }
    }
}

.page4 {
    background-color: #3FA100;
    .green-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page5/bg6.png',
            588);
            @include size(588,
            333);
            bottom: p2r(300);
        }
        .ball {
            @include bgc('../images/page5/sphere4.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bg('../images/page5/bear4.png');
            @include size(309,
            325);
            bottom: p2r(170);
            left: p2r(200);
        }
        .license {
            @include bg('../images/page5/card1.png');
            @include size(160,
            175);
            left: p2r(32);
            bottom: p2r(435);
        }
        .oil1 {
            @include bg('../images/page5/card2.png');
            @include size(161,
            209);
            left: p2r(240);
            bottom: p2r(530);
        }
        .evil2 {
            @include bg('../images/page5/card3.png');
            @include size(167,
            184);
            right: p2r(45);
            bottom: p2r(420);
        }
    }
}

.page5 {
    background-color: #0098CF;
    .blue-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page6/bg7.png',
            594);
            @include size(594,
            493);
            bottom: p2r(300);
        }
        .cloud {
            @include bgc('../images/page6/weather-cloud.png',
            432);
            @include size(432,
            160);
            bottom: p2r(645);
        }
        .ball {
            @include bgc('../images/page6/sphere5.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bgc('../images/page6/rider2.png',
            230);
            @include size(230,
            390);
            bottom: p2r(175);
        }
        .shadow {
            @include bgc('../images/page6/shadow.png',
            114);
            @include size(114,
            26);
            bottom: p2r(175);
        }
    }
}

.page6 {
    background-color: #B527A0;
    .purple-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bgc('../images/page7/bg8.png',
            588);
            @include size(588,
            333);
            bottom: p2r(300);
        }
        .ball {
            @include bgc('../images/page7/sphere6.png',
            640);
            @include size(640,
            356);
            bottom: 0;
        }
        .bear {
            @include bgc('../images/page7/bear5.png',
            230);
            @include size(285,
            328);
            bottom: p2r(200);
            .gift1 {
                @include bgc('../images/page7/gift1.png',
                35);
                @include size(35,
                29);
                transform: rotateZ(28deg) translateY(p2r(240));
            }
            .gift2 {
                @include bgc('../images/page7/gift2.png',
                93);
                @include size(93,
                79);
                transform: rotateZ(28deg*2) translateY(p2r(240));
            }
            .gift3 {
                @include bgc('../images/page7/gift3.png',
                72);
                @include size(72,
                64);
                transform: rotateZ(28deg*3) translateY(p2r(240));
            }
            .gift4 {
                @include bgc('../images/page7/gift4.png',
                91);
                @include size(91,
                73);
                transform: rotateZ(28deg*4) translateY(p2r(240));
            }
            .gift5 {
                @include bgc('../images/page7/gift5.png',
                99);
                @include size(99,
                65);
                transform: rotateZ(28deg*5) translateY(p2r(240));
            }
            .gift6 {
                @include bgc('../images/page7/gift6.png',
                107);
                @include size(107,
                80);
                transform: rotateZ(28deg*6) translateY(p2r(240));
            }
            .gift7 {
                @include bgc('../images/page7/gift7.png',
                107);
                @include size(107,
                80);
                transform: rotateZ(28deg*7) translateY(p2r(240));
            }
            .gift8 {
                @include bgc('../images/page7/gift8.png',
                88);
                @include size(88,
                64);
                transform: rotateZ(28deg*8) translateY(p2r(240));
            }
            .gift9 {
                @include bgc('../images/page7/gift9.png',
                78);
                @include size(78,
                50);
                transform: rotateZ(28deg*9) translateY(p2r(240));
            }
            .gift10 {
                @include bgc('../images/page7/gift10.png',
                49);
                @include size(49,
                37);
                transform: rotateZ(28deg*10) translateY(p2r(240));
            }
            .gift11 {
                @include bgc('../images/page7/gift11.png',
                51);
                @include size(51,
                31);
                transform: rotateZ(28deg*11) translateY(p2r(240));
            }
            .gift12 {
                @include bgc('../images/page7/gift12.png',
                37);
                @include size(37,
                23);
                transform: rotateZ(28deg*12) translateY(p2r(240));
            }
        }
    }
}

.page7 {
    background-color: #19072A;
    .gray-page1 {
        width: 100%;
        height: 100%;
        .bg {
            @include bg('../images/page8/streetlight.png');
            @include size(89,
            443);
            left: p2r(240);
            bottom: p2r(300);
        }
        .cloud {
            @include bg('../images/page8/moto.png');
            @include size(200,
            137);
            bottom: p2r(335);
            left: p2r(125);
        }
        .ball {
            @include bgc('../images/page8/sphere7.png',
            640);
            @include size(640,
            384);
            bottom: 0;
        }
        .bear {
            @include bg('../images/page8/bear6.png');
            @include size(276,
            271);
            bottom: p2r(280);
            left: p2r(250);
        }
        .shadow {
            @include bgc('../images/page8/share.png',
            379);
            @include size(379,
            113);
            bottom: p2r(140);
        }
    }
}

//页面一代码初始化
.loading {
    .progress {
        background-color: transparent;
        .progress1 {
            height: 100%;
            width: 20%;
            background-color: #fc2e4d;
            position: absolute;
            right: 0;
        }
    }
}

//页面一定义动画
@keyframes bearRide {
    10% {
        transform: translateX(p2r(-26*1)) translateY(p2r(-10));
    }
    20% {
        transform: translateX(p2r(-26*2)) translateY(p2r(10));
    }
    30% {
        transform: translateX(p2r(-26*3)) translateY(p2r(-10));
    }
    40% {
        transform: translateX(p2r(-26*4)) translateY(p2r(10));
    }
    50% {
        transform: translateX(p2r(-26*5)) translateY(p2r(-10));
    }
    60% {
        transform: translateX(p2r(-26*6)) translateY(p2r(10));
    }
    70% {
        transform: translateX(p2r(-26*7)) translateY(p2r(-10));
    }
    80% {
        transform: translateX(p2r(-26*8)) translateY(p2r(10));
    }
    90% {
        transform: translateX(p2r(-26*9)) translateY(p2r(-10));
    }
    100% {
        transform: translateX(p2r(-26*10)) translateY(p2r(10));
    }
}

@keyframes pregresstoleft {
    from {}
    to {
        width: 100%;
    }
}

//页面一  执行动画
.loading.animate {
    .progress1 {
        animation: pregresstoleft .8s linear forwards;
    }
    .rider {
        animation: bearRide .8s linear forwards;
    }
}

//页面二代码初始化
.welcome {
    .info {
        opacity: 0;
    }
    .bear-box {
        opacity: 0;
    }
    .smoke {
        opacity: 0;
    }
    .trees {
        opacity: 0;
    }
    .grass1 {
        height: p2r(20);
    }
    .rotate-btn-box {
        opacity: 0;
    }
    .grass2 {
        opacity: 0;
    }
}

//页面二 定义动画
//高度从低变高的动画
@keyframes heightBigger {
    from {}
    to {
        height: p2r(396);
        opacity: 1;
    }
}

@keyframes treesout {
    from {
        transform: scale(2, 1);
    }
    to {
        transform: scale('');
        opacity: 1;
    }
}

// 从上到下的出来
@keyframes trees {
    from {
        transform: translateY(-200%);
    }
    80% {
        transform: translateY(10%);
        opacity: 1;
    }
    90% {
        transform: translateY(-10%);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

//滚动圈从上面出来
@keyframes gungdong {
    from {
         transform: translateY(-300%);
    }
   
    to{
        transform: translateY(none);
        opacity: 1;
    }
}
@keyframes Rotate{
     from{}
     to{
       transform:rotateZ(360deg);  
     }
}
@keyframes moTo{
   from{
       transform:translateY(p2r(-10));
       opacity: 1;

   }
   to{
       transform:translateY(p2r(10));
       opacity: 1;
   } 
}

//页面2执行动画
.welcome.animate{
    .grass1 {
        animation: heightBigger .6s forwards;
    }
    .grass2 {
        animation: treesout 1s 1s forwards;
    }
    .trees {
        animation: trees 1s 1s forwards;
    }
    .rotate-btn-box {
        animation: gungdong 2s 1s forwards;
    }
    .btnred {
        animation: Rotate .8s linear infinite forwards;
    }
     .bear-box{
           animation: gungdong 2s 2s forwards, moTo 1s 2s  forwards;
     }
    //  .bear-box{
    //       animation:  moTo 2s 2s infinite forwards;
    //  }

    
}